body {
    color: white;
    padding: 75px 0 0 0;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
    color: black;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px dashed;
    border-bottom-color: #ffcc33;
    min-height: 400px;
}

.row-content h1,
.row-content h2,
.row-content h3,
.row-content h4,
.row-content h5 {
    color: #fc3;
}

.row-footer {
    background-color: #fc3;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: black;
}

.row-footer a {
    color: black;
    text-decoration: none;
}

.row-footer a:hover {
    color: #630;
    text-decoration: none;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
}

address {
    margin: 0px;
}

.fa {
    color: white;
}

.navbar-toggle {
    margin-top: 20px;
    border-color: #fc3;
}

.breadcrumb a {
    color: white;
}

.breadcrumb a:hover {
    color: #fc3;
    text-decoration: none;
}

.navbar-default .navbar-toggle:hover {
    color: #000;
}

.navbar-nav {
    padding: 10px 0 0 0;
}

.navbar-fixed-top {
    padding-bottom: 15px;
}

.img-thumbnail {
    border: 0px;
}

.badge {
    background-color: #630;
    color: #fc3;
}

.label {
    padding: 0.1em 0.3em 0.1em;
}